<form action="">
  <legend>Image</legend>
  <div>
    {{ form_label(form)}}
    {{ form_errors(form)}}
    {{ form_widget(form)}}
    {% block image_widget %}
    {% endblock image_widget %}
  </div>
  <input type="submit" value="submit">
</form>