{% macro display_alert(_class,message) %}
  {% if message  %}
      <div class='alert alert-{{_class|default('error')}}'><a class='close' data-dismiss='alert'>x</a>{{message}}</div>
  {% endif %}
{% endmacro %}
{# appel de macro #}
{{ _self.display_alert("error",app.session.getFlash('error') ) }}
{{ _self.display_alert("success",app.session.flash("success")) }}