{# Head #}
<meta charset="UTF-8">
<title>Mongo Blog</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{{url('index.index')}}bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="{{url('index.index')}}bootstrap/css/bootstrap-responsive.min.css">
<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<!-- styles -->
<style>
    body{
      /*padding-top: 60px;*/
      font-family:Tahoma,Verdana,Arial,sans;
      color:#444;
    }
</style>