{% extends "layout.twig" %}
{% block content %}
<form  action="{{ path("article.put",{'id':article_id})}} " method="post">
  <legend>Update an article.</legend>
	{{form_widget(form)}}
  <input class="btn" type="submit" name="submit">
</form>
<div><small>Update count : {{article.update_count}}</small></div>
{% endblock %}