
{% if app.session.getFlash('comment_errors') %}
  <div class="alert alert-error">
  {{app.session.getFlash('comment_errors')}}
</div>
{% endif %}
<form  action="{{ path("comment.create",{article_id: article_id})}} " method="post">
  <legend>Post an new comment.</legend>
  {{form_widget(form)}}
  <input class="btn" type="submit" name="submit">
</form>
