
<form  action="{{ path("comment.post",{article_id: article_id})}} " method="post">
  <legend>Post an new comment.</legend>
  {{form_widget(form)}}
  <input class="btn" type="submit" name="submit">
</form>
